.logo {
  height: 35px;
  margin-right: 10px;
  vertical-align: top;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.header {
  height: 100px;
  line-height: 100px;
}

.header a {
  text-decoration: none;
}


.title {
  position: relative;
  top: 2px;
  color: white;
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
